*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
font-size: 50px;
background-color: rgb(0, 0, 0);
padding: 10px;
}

body {

font-family: Arial, sans-serif;
background-color: rgb(0,0,0);
text-align: center;
color: rgb(255, 255, 255);
}

main {

}

section{
display: flex;
padding: 10px;
margin-bottom: 10px;
border-radius: 10px;
background-color: rgb(24, 24, 24);
border: 5px solid rgb(255, 0, 0);
}

section img {
width: 80px;
height: 80px;
border-radius: 20px;
}

section h2{
color: white;
font-size: 400%;

font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;

}

section p{

}